html {
font-family: 'Open Sans', sans-serif;

}
body {
margin: 0;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #fff;
}
li {
list-style: none;
padding: 0;
margin: 0;
}
ul {
list-style: none;
padding: 0;
}
a {
text-decoration: none;
}
p {
	margin-top: 0;
}
h1, h2, h3, h4, h5, h6 {
padding: 0;
margin: 0;
}
input {
width: 100%;
height: 45px;
border-radius: 2px;
border: 1px solid #dadada;
padding-left: 10px;
}
.no-padding {
padding-left: 0 !important;
padding-right: 0 !important;
}
.custom-select {
width: 100%;
height: 45px;
border-radius: 2px;
border: 1px solid #dadada;
}
.diplay-none{
display: block;
}
.w-100 {
width: 100%;
}
.red {
color: #D83638;
}
.f16 {
font-size: 16px;
}
.f14 {
font-size: 14px;
}
.push20 {
height: 20px;
}
.btn-send {
width: 100%;
border-radius: 10px !important;
}
.btn-save {
width: 40%;
border-radius: 10px !important;
margin-bottom: 25px;
}
.text-center {
text-align: center;
}
.center {
	display: flex;
	justify-content: center;
}
header {
transition: .2s;
width: 100%;
left: 0;
top: 0;
}
.header-bg {
	background: transparent;
	position: fixed;
}
.mobile-menu {
display: none;
}
.hamburger-icon-wrapper {
height: 46px;
width: 26px;
cursor: pointer;
-webkit-transform: translateY(-5px);
transform: translateY(-5px);
z-index: 100;
position:relative;
right: 0;
}
.hamburger-icon, .hamburger-icon:before, .hamburger-icon:after {
content: '';
position: absolute;
border-radius: 1em;
height: 2px;
width: 26px;
background: rgba(255,255,255,.75);
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease }
.hamburger-icon        { top: 1.75em  }
.hamburger-icon:before { top: -0.55em }
.hamburger-icon:after  { top: 0.55em  }
.hamburger-active .hamburger-icon { background: transparent; -webkit-transform: rotate(-135deg); transform: rotate(-135deg) }
.hamburger-active .hamburger-icon:before, .hamburger-active .hamburger-icon:after { top: 0 }
.hamburger-active .hamburger-icon:before { -webkit-transform: rotate(90deg); transform: rotate(90deg) }
.hamburger-active .hamburger-icon, .hamburger-active .hamburger-icon:before, .hamburger-active .hamburger-icon:after {
background: white }
.hamburger-menu {
max-width: 100%;
width:100%;
height:100%;
overflow-y: scroll;
-webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
opacity: 0;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
pointer-events: none;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: rgba(0,0,0,0.9);
color: white;
text-align: center;
z-index: 9;}
.hamburger-active .hamburger-menu {
opacity: 1;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
pointer-events: initial; }
.hamburger-menu-list {
display: block;
-webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
padding: 0;
list-style-type: none;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%) scale(1.2);
transform: translate(-50%, -50%) scale(1.2) 
}
.hamburger-active .hamburger-menu-list {
-webkit-transform: translate(-50%, -25%) scale(1);
transform: translate(-50%, -25%) scale(1)
}
.hamburger-menu a {
color: white !important;
margin-bottom: 25px;
}
.hamburger-active .hamburger-icon, .hamburger-active .hamburger-icon:before, .hamburger-active .hamburger-icon:after {
background: white !important;
}
.hamburger-menu-list ul{
padding: 0;
}
.scroll-desktop-menu {
background: #000;
z-index: 99;
position: fixed;
}
.btn {
padding: 12px 25px;
line-height: 1.5;
border-radius: 46px;
cursor: pointer;
border:  transparent;
background-color: #00bfff;
color: #fff;
}
.btn-register {
position: absolute;
right: 0;
margin: 10px 10px;
background-color: #0000ff;
}
.btn-video {
background-color: #0000ff;
border-radius: 10px !important;
margin-bottom: 25px;

}
.navbar {
display: flex;
align-items: center;
justify-content:center;
height: 91px;
}
.navbar--logo {
margin-right: 50px;
}
.navbar--logo--img {
height: 40px;
width: 40px;		
}
.navbar--logo a {
color: #fff;
font-size: 30px;
font-family: 'Sniglet', cursive;
}
.navbar--list {
display: flex;
}
.navbar--list a{
text-decoration: none;
color: #fff;
}
.navbar--list li {
margin-right: 25px;
}
.navbar--list li:nth-child(4) {
margin-right: 50px;
}
.navbar--social >  a {
margin-right: 20px;
}
.navbar--social--icon {
font-size: 16px !important;
color: #fff;
}
.btn-exit {
	background: transparent;
	border: 0;
	cursor: pointer;
	color:#fff;
}
.slide-section {
width: 100%;
display: flex;
background: url(../images/poco-euro-rite-u11-soccer-game-3-960x640-1.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50%;
}
.overlay {
background-color: rgba(0, 0, 0, 0.4);
width: 100%;
height: 100%;
}
.content{
text-align: center;
padding-top: 37vh;
padding-bottom: 37vh;
}
.content--title {
font-size: 50px;
margin-bottom: 25px;
font-family: 'Sniglet', cursive;
}
.content--text {
text-transform: uppercase;
margin-bottom: 35px;
margin-top: 0;
}
.partner {
color: #000;
text-align: center;
height: 100vh;
}
.partner-img, .start-img{
height: 40px;
width: 40px;
margin-top: 50px;
}
.partner-title, .start-title {
font-size: 32px;
font-weight: 900;
padding-bottom: 25px;
}
.partner-border, .start-border {
display: flex;
justify-content: center;
margin-bottom: 40px;
}
.border {
border-bottom: 4px solid #000;
width: 200px;
}
.card-img {
width: 100%;
object-fit: contain;
height: 250px;
}
.card-title {
padding-bottom: 25px;
}
.start {
color: #000;
text-align: center;
padding: 100px 0;
}
footer {
background: #000;
text-align: center;
}
.footer--logo--img {
margin-top: 30px;
height: 40px;
width: 40px;		
}
.footer--navbar--list {
display: flex;
}
.footer--navbar--list a{
text-decoration: none;
color: #fff;
}
.footer--logo a {
color: #fff;
font-size: 30px;
font-family: 'Sniglet', cursive;
}
.footer--navbar--social >  a:not(:last-child) {
margin-right: 20px;
}
.footer--navbar {
display: flex;
align-items: center;
justify-content:center;
height: 91px;
}
.footer--navbar--list :not(:last-child) {
margin-right: 25px;
}
.footer--navbar--social {
padding-bottom: 30px;
}
.load-video {
display: flex;
background: transparent;
border: 0;
margin:10px 0;
}
.edit {
position: relative;
color: #000;
}
.edit > .blockinput  {
display: flex;
align-items: center;
}
.edit > .blockinput input  {

}
.edit > .blockinput h4 {
margin-right: 100px;
}

.edit-title, .profile-title  {
text-align: center;
margin: 25px 15px;
}
.input-img {
width: 150px;
height: 150px;
}
.file-input {
cursor: pointer;
}
input[type=file] {
width: 0.1px;
height: 0.1px;
opacity: 0;
position: absolute;
z-index: -10;
}
.profile {
	color: #fff;
}
.profile-container {
		background: #F8F8F8;
		border-radius: 43px;
		margin: 25px 0;
}
.profile-container-title {

}
.profile-container-body {
	background: linear-gradient(252.8deg, #7748FD 6.96%, #C711AF 93.21%);
	border-radius: 43px;
}
.blockoutput {
	display: flex;
	align-items: center;
}
.profile_block {
	position: relative;
}
.profile_block img {
	margin-top: 25px;
	border-radius: 200px;
	height: 202px;
	width: 202px;
	object-fit: cover;
}
.profile_inicial {
	padding: 25px 25px 0 25px;
	color: #000;
	font-weight: 900;
}
.profile-title {
	border: 5px solid #C711AF;
	color: #C711AF;
	border-radius: 113px;
	padding: 5px 25px;
	font-size: 22px;
}
.profile-container-body-content {
	padding: 45px 45px;
	mar
}
.profile_country {
	font-weight: 500;
	margin-bottom: 0;
}
.profile_edit {
	color: #00bfff;
}
.btn-videos {
	background: #219FFB;
border-radius: 112px;
transform: rotate(-90deg);
position: relative;
top:75%;
}
.btn-videos a {
	color: #fff;
}
.btn-text {
	text-align: center;
	margin:0;
	position: relative;
	top:25px;
	text-transform: uppercase;
	font-weight: 600;
}
.circle {
bottom:12px;
left: 10px;
position: relative;
width: 50px; 
height: 50px;
background: #FFFFFF;
border-radius: 50%;
}
.triangle {
top: 20px;
left: 14px;
position: relative;
width: 0; 
height: 0;
border-left: 11px solid transparent;
border-right: 11px solid transparent;
border-top: 16px solid #219FFB;
}

.profile_edit {
	padding: 25px 15px;
}
.l-center {
	margin-left: 50px !important;
}
.error {
	color: #000;
}
.error-link {
	color: blue;
}
.error-title {
	font-size: 30px;
	margin-top: 25px;
}
.conditions {
	font-size: 14px;
	text-align: center;
	padding-top: 15px;
}
.conditions a {
	color: blue;
}
@media only screen and (min-width: 40em) {
.modal-overlay {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 5;
background-color: rgba(0, 0, 0, 0.6);
opacity: 0;
visibility: hidden;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.modal-overlay.active {
opacity: 1;
visibility: visible;
}
}

.modal {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
position: relative;
margin: 0 auto;
background-color: #fff;
color: #000;
width: 310px;
max-width: 75rem;
min-height: 20rem;
padding: 1rem;
border-radius: 3px;
opacity: 0;
overflow-y: auto;
visibility: hidden;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transform: scale(1.2);
transform: scale(1.2);
-webkit-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.modal .close-modal {
position: absolute;
cursor: pointer;
top: 5px;
right: 15px;
opacity: 0;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
-webkit-transition-delay: 0.3s;
transition-delay: 0.3s;
}
.modal .close-modal svg {
width: 1.75em;
height: 1.75em;
}
.modal .modal-content {
opacity: 0;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
-webkit-transition-delay: 0.3s;
transition-delay: 0.3s;
}
.modal.active {
visibility: visible;
opacity: 1;
-webkit-transform: scale(1);
transform: scale(1);
}
.modal.active .modal-content {
opacity: 1;
}
.modal.active .close-modal {
-webkit-transform: translateY(10px);
transform: translateY(10px);
opacity: 1;
}



@media screen and (max-width: 576px){
	.l-center {
	margin-left: 100px !important;
}
.btn-register {
left: 0;
}
.diplay-none {
display: none;
}
.partner {
height: 100%;
}
.mobile-menu {
display: flex;
justify-content: flex-end;
}
.navbar {
display: none;
}
.navbar--list {
display: block;
}
.navbar--list li {
margin-right: 0 !important;
}
.search-box {
display: none;
}
.filters-list-item {
padding:5px 10px;
margin: 5px 0px;
}
.scroll-desktop-menu {

}
.modal {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
-webkit-overflow-scrolling: touch;
border-radius: 0;
-webkit-transform: scale(1.1);
transform: scale(1.1);
padding: 0 !important;
z-index: 101;
}

.close-modal {
right: 20px !important;
}
.btn-videos {
margin-bottom: 25px;
border-radius: 112px;
transform: rotate(0);
top:0;
}
.triangle {
top: 14px;
left: 18px;
border-top: 11px solid transparent;
border-left: 16px solid #219FFB;
border-bottom: 11px solid transparent;
}
}